* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  text-align: center;
  background-color: #d3d3d3;
  padding: 1.25rem;
}

h1 {
  font-size: 1.5rem;
  padding: 0.625rem;
  line-height: 1;
  background-color: #444444;
  color: #d3d3d3;
  align-self: start;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0 auto;
  min-width: max-content;
  min-height: calc(100vh - 2.5rem);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  padding: 0.625rem;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.row + .row {
  margin-top: 5px;
}

.row-num {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.number {
  display: inline-block;
  text-align: center;
  background: #444444;
  max-width: 4.0625rem;
  max-height: 4.0625rem;
  min-width: 4.0625rem;
  min-height: 4.0625rem;
  color: #fff;
  padding: 1.25rem 0.3125rem;
  border-radius: 5px;
  overflow: hidden;
  vertical-align: middle;
  overflow-x: scroll;
}

.number + .number {
  margin-left: 5px;
}

.number::-webkit-scrollbar {
  height: 5px;
}

.number::-webkit-scrollbar-track {
  border-radius: 10px;
}

.number::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #959595;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0.625rem 1.25rem;
  max-width: 13.875rem;
}

input[type="number"] {
  font-family: inherit;
  border: none;
  font-size: 1rem;
  background-color: #444444;
  color: #fff;
  padding: 0.3125rem;
  border-radius: 5px;
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.rows-input-error,
.start-num-input-error {
  display: none;
  font-size: 0.8125rem;
  color: #cf2727;
}

.btn-gen {
  font-family: inherit;
  font-size: 1rem;
  margin-top: 1.25rem;
  padding: 0.625rem 1.25rem;
  background-color: #f8f8f8;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-gen:hover {
  background-color: #f0f0f0;
}

.btn-gen:active {
  transform: scale(0.98);
}
